/* *{
    height: 100%;
} */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    text-align: center;
    background-image: url(imagens/fundo.png);
    background-repeat: no-repeat;
    /* margin-right: 200px; */
    background-attachment: fixed; 

}

button{
    background-color: #0470aa;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
